<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teams</title>
</head>

<body>
    <% for( let index=0; index < teams.length; index++ ) { %>
        <% let t=teams[index]; %>
            <% t=t.toJSON(); %>
                <!-- List team ranking -->
                <p>
                    <%= t.ranking %>
                </p>
                <!-- List school -->
                <p>
                    <%= t.school %>
                </p>
                <!-- List team record -->
                <p>
                    <%= t.record %>
                </p>
                <% } %>
</body>

</html>